body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url(./img/bg1.png);
}

#app {
  text-align: center;
  
}

.header {
  background-image: linear-gradient(-20deg, #00cdac 0%, #8ddad5 100%);
  box-shadow: 0px 6px 8px #888888;
  padding: 20px 0;
  color: white;
}
.setup {
  background-color: white;
  box-shadow: 0px 6px 8px #888888;
  padding: 20px 0;
  width: 80%;
  margin-left: 10%;
  border-radius: 0px 0px 10px 10px;
}

.alert {
  background-color: rgba(255, 0, 0, 0.8);
  border: 2px solid red;
  margin-top: 20px;
  color: white;
  width: 60%;
  margin-left: 20%;
}

.alert h3 {
  font-size: 1.5rem;
}

input {
  width: 40%;
  padding: 6px;
}

#submitButton {
  display: block;
  padding: 6px;
  width: 60%;
  margin-left: 20%;
  margin-top: 10px;
  background-color: limegreen;
  color: white;
  font-size: 1.5rem;
  border-radius: 10px;
}

label {
  margin-left: 20px;
  margin-right: 10px;
}

#results {
  margin-right: 20px;
  height: 45px;
}

.results {
  margin-top: 10px;
}



.dashboard {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  align-items: flex-start;
}

.recipeCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
  width: 40%;
  margin: 2% 5%;
  max-height: fit-content;
  padding: 2%;
  border-radius: 20px;
}

.moduleInfo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row-reverse;
}

.recipeCard .header {
  margin-top: 30px;
  margin-bottom: 20px;
}

.recipeCard h3 {
  font-size: 1.5rem;
}

#recipeImg {
  border-radius: 50%;
  margin: 10px 0;
}

#showMoreBtn {
  margin-top: 30px;
  padding: 2%;
  border-radius: 10px;
  background-image: linear-gradient(-20deg, #00cdac 0%, #8ddad5 100%);
  color: white;
  font-size: 1.4rem;
}

.ingredients, .allergyInfo {
  list-style: none;
  font-size: 1.2rem;
}

.ingredients li, .allergyInfo li {
  width: 90%;
}

.allergyInfo{
  display: inline-block;
}

.nutritionInfo {
  width: 25%;
  padding: 20px 2.5%;
  display: inline-block;
}

.nutritionInfo h1 {
  font-size: 1.5rem;
}

#source {
  color: #00cdac;
}

.url {
  margin-top: 20px;
}

/* MEDIA QUERIES FOR MOBILE */
@media screen and (max-width: 768px) {
  .header {
    padding: 10px;
  }

  .header h1{
    font-size: 2.2rem;
  }

  .header h3 {
    font-size: 1.3rem;
  }

  #foodInput {
    width: 60%;
    margin-left: 5%;
  }
  
  .alert {
    width: 100%;
    margin-left: 0;
  }

  .dashboard {
    display: block;
  }

  .recipeCard {
    width: 90%;
    margin: 5%
  }

  .moduleInfo {
    display: block;
  }

  #recipeImg {
    width: 50%;
  }

  #showMoreBtn {
    margin-bottom: 10px;
  }

  .nutritionInfo h1 {
    font-size: 1.1rem;
  }

  .ingredients, .allergyInfo {
    font-size: 1rem;
  }

  .allergyInfo{
    width: 100%;
  }

  #results, label {
    margin-top: 10px;
    display: block;
  }
  #results {
    margin-left: 40%;
    width: 20%;
    border: 1px solid black;
  }
  label {
    margin-left: 10px;
  }
}

/* MEDIA QUERIES FOR TABLET */
@media screen and (max-width: 1200px) and (min-width: 769px) {
  .moduleInfo {
    display: block;
  }
}